extends layout

block append head 
  link(rel='stylesheet', href='/css/editor.css')

block content
  h1 Code Editor
  #editor=template
  #aside.hidden

block append body
  script(src='/ace-editor/src-min-noconflict/ace.js', type='text/javascript', charset='utf-8')
  script(src='/js/editor-additions.js', type='text/javascript', charset='utf-8')
  script.
    startup($, ace, '#{language}');
