div.section
  | Other:
  a(href='http://tpt.io/:18511') forum thread
  a(href='https://github.com/boxmein/tptelements2') github
  a(href='http://tpt.io/@boxmein') boxmein on tpt
  a(href='http://boxmein.net') boxmein