extends layout

block content
  include:md index.md
  script.
    if (location.hash) {
      if (/^\#(cpp|lua|c)$/.test(location.hash)) {
        location.href = '#{root}/editor.html#' + location.hash.slice(1);
      }
    }