//- it's like, a thing that compiles /into/ the actual .html file!
//- rake lua_reference

extends layout

block append head
  link(rel='stylesheet', type='text/css', href='/css/lua-reference.css')
  link(rel='stylesheet', type='text/css', href='/highlightjs/styles/mysolarized.css')

block content
  h1 Mega coding reference
  //- long list of includes
  //- part 0: addendum
  .head
    include lua-tree/head.html
  .notes
    include lua-tree/notes.html

  .tree#tree
    | (global)
    | │
    | │
    | │ <br>

    //- part 1: lua tree
    include lua-tree/api-legacy.html
    include lua-tree/api-interface.html
    include lua-tree/api-elements.html
    include lua-tree/api-renderer.html
    include lua-tree/api-simulation.html
    include lua-tree/api-bits.html

  //- part 2: properties & other stuff
  .properties-overview
    include lua-tree/api-properties.html

  //- part 3: element properties
  .properties-detailed
    include lua-tree/element-properties/head.html
    include lua-tree/element-properties/Advection.html
    include lua-tree/element-properties/AirDrag.html
    include lua-tree/element-properties/AirLoss.html
    include lua-tree/element-properties/Collision.html
    include lua-tree/element-properties/Colour.html
    include lua-tree/element-properties/Description.html
    include lua-tree/element-properties/Diffusion.html
    include lua-tree/element-properties/Enabled.html
    include lua-tree/element-properties/Explosive.html
    include lua-tree/element-properties/Falldown.html
    include lua-tree/element-properties/Flammable.html
    include lua-tree/element-properties/Graphics.html
    include lua-tree/element-properties/Gravity.html
    include lua-tree/element-properties/Hardness.html
    include lua-tree/element-properties/HeatConduct.html
    include lua-tree/element-properties/HotAir.html
    include lua-tree/element-properties/Identifier.html
    include lua-tree/element-properties/Loss.html
    include lua-tree/element-properties/Meltable.html
    include lua-tree/element-properties/MenuSection.html
    include lua-tree/element-properties/MenuVisible.html
    include lua-tree/element-properties/Name.html
    include lua-tree/element-properties/Properties.html
    include lua-tree/element-properties/State.html
    include lua-tree/element-properties/Temperature.html
    include lua-tree/element-properties/Update.html
    include lua-tree/element-properties/Weight.html

  p.
    Good luck coding! Hope this will come in handy.
    ~boxmein 

block append header
  .aside#aside
    p Links
    ul
      li: a#bright(href='javascript:;') Bright Mode
      li: a(href='#') ^
      li: a(href='#treetop') Tree
      li: a(href='#notes') Notes
      li: a(href='#tpt') Legacy API
      li: a(href='#elements') Elements API
      li: a(href='#simulation') Simulation API
      li: a(href='#renderer') Renderer API
      li: a(href='#graphics') Graphics API
      li: a(href='#fileSystem') File System API
      li: a(href='#interface') UI API
      li: a(href='#bit') Bitwise API
      li: a(href='#boolint') boolint? dafuq
      li: a(href='#tpt.el') tpt.el.X.Y
      li: a(href='#tpt.eltransition') tpt.eltransition.*
      li: a(href='#elements.property') elements.property()
      li: a(href='#particles') Particles
      li: a(href='#properties') ^ properties.
      li: a(href='#properties.graphics_func') Graphics
      li: a(href='#properties.update_func') Update

block append body
  script(src='/highlightjs/highlight.pack.js')
  script(src='/js/lua-ref-stuff.js')
  script.
    hljs.initHighlightingOnLoad();
