@import "base";
@import "header";
@import "footer";

// Basic stuff! 

body {
  font-family: $bodyFont;
  font-size: $fontSize;
  color: $textColor;
  background-color: $backgroundColor;
}

header, main, footer {
  max-width: 620px;
  margin: 0 auto;
}

footer {
  margin-bottom: 15em;
}

h1 {
  font-weight: normal;
}

.section a {
  margin: 0px 4.5px;
  color: inherit;

  &:hover { color: darken($textColor, 5%); text-decoration: none; }
  &:visited { color: inherit; }
  &:link { color: inherit; }
}

a {
  &:hover { color: darken($textColor, 5%); text-decoration: none; }
  &:visited { color: inherit; }
  &:link { color: inherit; }
  &.noul { text-decoration: none; }
}

.lastmod {
  color: #162D3A;
  text-align: center;
}

